.wrapper {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    &:hover {
        width: 98%;
        background-color: var(--g2);
        scale: 1.02;
        transition: all 0.1s ease 0s;
    }
}

.book-img {
    width: 55px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.title {
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 600;
}

.author {
    color: var(--primary-purple);
    font-size: 1.5rem;
}
