.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    230deg,
    hsl(210deg 20% 98%) 0%,
    hsl(212deg 40% 98%) 8%,
    hsl(215deg 55% 98%) 14%,
    hsl(218deg 67% 97%) 21%,
    hsl(221deg 77% 97%) 27%,
    hsl(224deg 85% 97%) 33%,
    hsl(228deg 91% 97%) 40%,
    hsl(232deg 96% 97%) 50%,
    hsl(238deg 100% 97%) 63%,
    hsl(244deg 100% 97%) 79%,
    hsl(251deg 100% 97%) 100%
  );
}

.form {
  width: 100%;
  max-width: 400px;
  margin: 0 20px;
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50px;
  box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.08), 0 12px 24px -4px rgba(145, 158, 171, 0.08);
}

@media screen and (max-width: 739px) {
  .form {
    margin: 0;
    padding: 0 20px;
    background-color: transparent;
    box-shadow: none;
  }
}

/*----- Logo ----- */
.logo {
  width: 246px;
  height: 56px;
  margin-bottom: 40px;
}

/*----- PasswordInput ----- */
.password-wrapper {
  width: 100%;
  margin: 20px 0;
}

.password-inner {
  padding: 12px 26px;
  display: flex;
  align-items: center;
  border: 2px solid var(--g1);
  border-radius: 10px;

  &:focus-within {
    border: 2px solid var(--primary-purple);
  }
}

.password-input {
  flex: 1;
  color: var(--primary-purple);
  background-color: transparent;
  font-size: 2rem;
}

/*----- Show password ----- */
.pass-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-purple);
}

/*----- Checkbox ----- */
.checkbox-wrapper {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*----- RegisterBtn ----- */
.register-btn {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;

  h5 {
    color: #acb5c2;
    font-size: 1.6rem;
  }
}
