.dropdown {
  position: relative;
  cursor: pointer;

  /* ----- SelectBtn ----- */
  .select {
    width: 130px;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    border: 1px solid var(--g1);
    border-radius: 10px;

    &:hover {
      color: var(--white);
      background-color: var(--primary-purple);
      transition: all 0.3s ease 0s;
    }

    &:active {
      color: var(--white);
      background-color: var(--primary-purple);
    }

    .user {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .arrow {
      width: 25px;
      height: 25px;
    }
  }

  /* ----- List ----- */
  .list {
    list-style: none;
    width: 180px;
    padding: 10px 0;
    background-color: var(--white);
    border: 1px solid var(--g1);
    border-radius: 10px;
    position: absolute;
    top: 55px;
    right: 0px;
    z-index: 99;

    li {
      &:hover {
        background-color: var(--nerual-purple);
      }
    }
  }
}
