.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--g1);
  border-radius: 10px;

  &:focus-within {
    border: 2px solid var(--primary-purple);
  }
}

.input {
  padding: 12px 26px;
  flex: 1;
  color: var(--primary-purple);
  background-color: transparent;
  font-size: 2rem;
}

.icon {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-purple);
  cursor: pointer;
}
