.menu-item {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    gap: 20px;
    color: var(--g0);
    font-size: 1.7rem;
    font-weight: 600;
    transition: ease-out 0.2s;


    &:hover {
        color: var(--primary-purple);
        background-color: var(--g3);
    }

    &.active {
        color: var(--primary-purple);
        border-right: 3px solid var(--primary-purple);
    }
}