.logo {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--primary-purple);
}

.logo-icon {
    width: 42px;
    height: 42px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .logo-text-1 {
        color: var(--primary-purple);
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 2.6rem;
    }
    .logo-text-2 {
        color: var(--g0);
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.3rem;
    }
}
