.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--g3);
    z-index: 100;
}

.inner {
    width: 1390px;
    display: flex;
    justify-content: space-between;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 100px;
}

.actionButton {
    display: flex;
    gap: 15px;
}

.user-login {
    width: 250px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    img {
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
}
