@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

:root {
  /* ----- Color ----- */
  --primary-purple: #6c5dd3;
  --nerual-purple: #f1eeff;
  --red: #ff0000;
  --nerual-red: rgba(255, 0, 0, 0.05);
  --orange: #ff754c;
  --white: #fff;
  --black: #000;
  --g0: #878787;
  --g1: #e1e1e1;
  --g2: #e0e6eb;
  --g3: #f8fafd;
  --g4: #a0a0a0;
  --g5: #e2e2e2;
  --g6: #b8b8b8;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  // color: var(--black);
  text-decoration: none;
}
// CSS slider home page
.container-slider {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0 0 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 990px) {
  .container-slider {
    width: 100%;
  }
}
