@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

:root {
  /* ----- Color ----- */
  --primary-purple: #6c5dd3;
  --nerual-purple: #f1eeff;
  --red: #ff0000;
  --nerual-red: rgba(255, 0, 0, 0.05);
  --orange: #ff754c;
  --white: #fff;
  --black: #000;
  --g0: #878787;
  --g1: #e1e1e1;
  --g2: #e0e6eb;
  --g3: #f8fafd;
  --g4: #a0a0a0;
  --g5: #e2e2e2;
  --g6: #b8b8b8;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  // color: var(--black);
  text-decoration: none;
}

img {
  object-fit: cover;
}

.ant-upload {
  display: block !important;
}
/* CSS slider home page */
.container-slider {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0 0 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 990px) {
  .container-slider {
    width: 100%;
  }
}

/* CSS list book */

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 100%;
  .card-grid-space {
    width: 100%;
  }
}

.card {
  min-width: 200px;
  font-family: "Heebo";
  --bg-filter-opacity: 0.5;
  font-size: 1.5em;
  border-radius: 1em;
  /*margin: 2em;*/
  height: 300px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 2em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
  color: hsl(228, 91%, 97%);
  &:hover {
    color: #ffffff;
  }
  .card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, rgb(0 0 0 / 78%), transparent);
    width: 100%;
    padding: 15px;
    h1 {
      margin: 0;
      font-size: 1.2em;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      font-size: 0.75em;
      font-family: "Open Sans";
      margin-top: 0.5em;
      line-height: 2em;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .tags {
      display: flex;
    }

    .tags .tag {
      font-size: 0.6em;
      background: #6c5dd3;
      border-radius: 0.3rem;
      padding: 0 0.5em;
      margin-right: 0.5em;
      line-height: 1.5em;
      transition: all, var(--transition-time);
      color: var(--white);
    }

    .date {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.75em;
      padding: 1em;
      line-height: 1em;
      opacity: 0.8;
      color: var(--white);
    }
  }

  .card:before,
  .card:after {
    content: "";
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
  }

  .card:before {
    background: #ddd;
    width: 250%;
    height: 250%;
  }

  .card:after {
    background: white;
    width: 200%;
    height: 200%;
  }

  .card:hover:before,
  .card:hover:after {
    transform: scale(1);
  }
  .card-grid-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
    flex-basis: calc(33.333% - 20px);
    margin: 10px;
    min-width: 200px;
    .num {
      font-size: 3em;
      margin-bottom: 1.2rem;
      margin-left: 1rem;
    }
  }

  .info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
  }

  .info img {
    height: 3em;
    margin-right: 0.5em;
  }

  .info h1 {
    font-size: 1em;
    font-weight: normal;
  }

  /* MEDIA QUERIES */
  @media screen and (max-width: 1285px) {
    .cards-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 900px) {
    .cards-wrapper {
      grid-template-columns: 1fr;
    }
    .info {
      justify-content: center;
    }
  }

  @media screen and (max-width: 500px) {
    .cards-wrapper {
      padding: 4rem 2rem;
    }
    .card {
      max-width: calc(100vw - 4rem);
    }
  }

  @media screen and (max-width: 450px) {
    .info {
      display: block;
      text-align: center;
    }
    .info h1 {
      margin: 0;
    }
  }
}
