.container {
  height: 100px;
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.logo-icon {
  display: none;
}

@media screen and (max-width: 1023px) {
  .logo-image {
    display: none;
  }

  .logo-icon {
    display: block;
    color: var(--primary-purple);
  }
}

@media screen and (max-width: 739px) {
  .container {
    margin: 0 50px;
  }

  .logo-image {
    display: block;
  }

  .logo-icon {
    display: none;
    color: var(--primary-purple);
  }
}
