.book-item-1 {
  display: flex;
  flex-direction: column;
  width: 30%;
  &:hover {
    transform: scale(1.05);
    transition: all 0.1s ease;
  }

  .img-book {
    margin-bottom: 23px;
    border-radius: 15px;
  }

  .title {
    width: 230px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .categories {
    margin-top: 5px;
    margin-bottom: 27px;
    color: var(--primary-purple);
    font-size: 14px;
    font-weight: 600;
  }

  .node {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .point-star {
      display: flex;
      gap: 10px;
      color: var(--orange);

      p {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }

    .price {
      padding-right: 10px;
      display: flex;
      align-items: center;
      text-align: right;
      gap: 15px;
      color: var(--black);

      .new-price {
        font-size: 2rem;
        font-weight: 600;
      }

      .old-price {
        color: var(--g4);
        font-size: 1.6rem;
        font-weight: 600;
        text-decoration-line: line-through;
      }
    }
  }
}

.book-item-2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 10px solid #ccc;

  &:hover {
    border: 1px solid var(--primary-purple);
    transform: scale(1.05);
    transition: all 0.1s ease;
  }

  .inner {
    padding: 0px 25px 25px 25px;
  }

  .img-book {
    margin-bottom: 23px;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
    max-width: 100%;
    height: 200px;
  }

  .title {
    color: var(--black);
    font-size: 2.4rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .categories {
    margin-top: 5px;
    margin-bottom: 15px;
    color: var(--primary-purple);
    font-size: 1.3rem;
    font-weight: 600;
  }

  .describe {
    height: 124px;
    color: var(--g0);
    font-size: 1.8rem;
    font-weight: 700;
    text-align: justify;
    line-height: 115.36%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .author {
    margin: 10px 0px 15px 0px;
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
  }

  .node {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .price {
      padding-right: 10px;
      display: flex;
      align-items: center;
      text-align: right;
      gap: 15px;
      color: var(--black);

      .new-price {
        font-size: 2rem;
        font-weight: 600;
      }

      .old-price {
        color: var(--g4);
        font-size: 1.6rem;
        font-weight: 600;
        text-decoration-line: line-through;
      }
    }
  }
}
