.wrapper {
    background-color: transparent;
    cursor: pointer;
}

//Button types
.type1 {
    padding: 15px 35px;
    background-color: var(--primary-purple);
    border-radius: 15px;
    box-shadow: 0px 15px 10px 0px #e0ddf6;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        color: var(--white);
        font-size: 1.6rem;
    }

    &:hover {
        scale: 1.05;
        transition: all 0.2s;
    }
}

.type2 {
    padding: 15px 35px;
    color: var(--primary-purple);
    background-color: var(--nerual-purple);
    border-radius: 15px;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        color: var(--primary-purple);
        font-size: 1.6rem;
    }

    &:hover {
        scale: 1.05;
        transition: all 0.2s;
    }
}

.LogOut {
    width: 100%;
    padding: 15px 30px;
    transition: ease-out 0.2s;

    span {
        display: flex;
        align-items: center;
        gap: 20px;
        color: var(--red);
        font-size: 1.7rem;
        font-weight: 600;
    }

    &:hover {
        background-color: var(--nerual-red);
    }
}

.outline {
    background: var(--white);
    border: 1px solid var(--g0);
    border-radius: 10px;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        p {
            text-align: start;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.2rem;

            span {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.6rem;
            }
        }
    }
}

.noline {
    font-size: 1.6rem;
    font-weight: 600;

    span {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

.loadpage {
    padding: 15px 25px;
    background: var(--nerual-purple);
    border-radius: 10px;

    span {
        svg {
            color: var(--primary-purple);
        }

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: var(--black);
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }
}
