.wrapper {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.inner {
    width: 1390px;
    display: grid;
    grid-template-columns: 340px 1fr;
    gap: 35px;
}

.books {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.bloc-tabs {
    padding: 12px 0 12px 20px;
    display: flex;
    gap: 30px;
    border: 1px solid var(--g5);
    border-radius: 10px;

    .tabs {
        color: var(--g6);
        text-align: center;
        cursor: pointer;
    }

    .active-tabs {
        color: var(--black);
        font-size: 1.6rem;
        font-weight: 700;
    }
}

.books-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 20px;
}

.select-year {
    width: 100%;
    margin: 25px;
}

.pagination {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    border: 1px solid var(--g5);
    border-radius: 10px;

    button {
        width: 61px;
        height: 61px;

        color: var(--black);
        background: transparent;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }

    .page {
        background: transparent;
        border-radius: 10px;
    }

    .active {
        color: var(--white);
        background: var(--primary-purple);
        border-radius: 10px;
        transition: all 0.3s ease-out;
    }
}
